html {
  height: 100%;
}

body {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1350px;
}

#controls-bar {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

#tower-selector {
  display: flex;
}

.tower-card {
  border: 1px solid white;
  border-radius: 10px;
  margin: 2px;
  height: 115px;
  width: 115px;
}

#tower-stats {
  display: flex;
  flex-direction: column;
}

#tower-upgrade {
  width: 120px;
}

#next-wave {
  width: 200px;
}

#canvas {
  /* border: 1px solid white; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 1350px;
  height: 900px;
  background: white;
}
